<div class="row">
    <div class="col-lg-12">
        <a onclick="window.history.back()" class="btn btn-default">Back</a><br>
        <div class="panel panel-default" style="margin-top:15px;">
            <div class="panel-heading">
                Your cart
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in cart">
                                <td>{{item.id}}</td>
                                <td><img style="width:50px;" src="{{item.image}}"></td>
                                <td>{{item.title}}</td>
                                <td>{{item.description}}</td>
                                <td>${{item.price}}</td>
                                <td>
                                    <select ng-model="item.model" name="{{item.product_id}}_quantity" id="{{item.product_id}}_quantity" class="form-control">
                                        <option ng-repeat="(k,q) in quantities" value="{{quantities[k]}}">{{quantities[k]}}</option>
                                    </select>
                                </td>
                                <td class="col-sm-2">
                                    <a ng-click="update(item.id)" class="btn btn-link" role="button">Update</a> 
                                    <a ng-click="remove(item.id)" class="btn btn-danger">Remove</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="vertical-align:middle;"><h2>${{cart.total}}</h2></td>
                                <td></td>
                                <td style="vertical-align:middle;">
                                    <!--<a ng-click="" class="btn btn-success">Checkout</a>-->

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                                    Checkout
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>