<div class="row">
  <div ng-repeat="(key, product) in products" class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/shoppingcart/{{product.image}}">
      <div class="caption">
         <span ng-if="product.incart" class="label label-danger">{{product.quantity}} in Cart</span>
        <h3>{{product.title}}</h3>
        <p>{{product.description}}</p>
        <h4>${{product.price}}</h4>
        <p>
            <div class="row">
                <div class="form-group col-sm-6">
                    <select name="{{product.id}}_quantity" id="{{product.id}}_quantity" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <a ng-click="add(product.id)" class="btn btn-primary" role="button">Add to Cart</a> 
                </div>
            </div>
        </p>
      </div>
    </div>
  </div>
</div>