<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Angular Shopping Cart</title>

    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="node_modules/angular/angular.js"></script> 
    <script src="node_modules/angular-route/angular-route.js"></script> 
    <script src="node_modules/angular-aria/angular-aria.js"></script> 
    <script src="node_modules/angular-animate/angular-animate.js"></script> 
    <script src="node_modules/angular-spinner/angular-spinner.js"></script> 
    <script src="node_modules/angular-sanitize/angular-sanitize.js"></script> 

    <script src="js/app.js"></script> 
    <script src="js/controllers.js"></script> 
    <script src="js/services.js"></script> 


    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="app" style="padding-top:50px;">

    <div id="wrapper">
        
        <nav ng-if="nav" class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">Angular Shopping Cart</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="">
                    <img ng-show="$loading" src="images/pie.gif" style="width:20px;">
                </>
                <li class="">
                    <a href="#/cart" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="badge">{{cart.length}}</span> 
                        Cart <i class="fa fa-shopping-cart fa-fw"></i>  <i class="fa fa-caret-right"></i>
                    </a>
                    <!-- /.dropdown-messages -->
                </li>
                <li class="">
                    <a href="#/" class="dropdown-toggle" data-toggle="dropdown">
                        Sign Out
                    </a>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-static-side -->
        </nav>
        <div style="padding:50px;">
            <div ng-view></div>
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <!--<script src="dist/js/sb-admin-2.js"></script>-->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">End of Vus' Demo</h4>
            </div>
            <div class="modal-body">
                Under real world conditions, you would be heading to a real life payment gateway 
                at this point. But for now this is where the demo ends.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</body>

</html>
