
<div class="row" style="margin-top:50px;">
    <div class="col-lg-4 col-lg-offset-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                Sign In
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">


                    <form role="form">
                        <p>User <b>admin</b>, Pass: <b>admin</b></p>
                        <div class="form-group">
                            <input ng-model="user" class="form-control" placeholder="Username">
                            <p class="text-danger" class="help-block">
                                {{error}}
                            </p>
                        </div>
                        <div class="form-group">
                            <input ng-model="pass" class="form-control" placeholder="Password">
                        </div>
                        <a ng-click="signin()" class="btn btn-default">Submit</a>
                    </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>